footer{
    width:100%;
    border-top:1px solid  #2f3e46;
    //padding-top: 20px;
    background:  #2f3e46;
    color: whitesmoke;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 3px;
    margin: 0px;
 }