<h1>
  List of Bugs
</h1>
<button class="btn button" [routerLink]="['/bugform',null]">Create new bug</button>
<table id="bugs">
  <thead>
    <tr>
      <th *ngFor="let col of columns ; let i = index" (click)="getHeader(i)">
        {{col}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td *ngFor="let i of fields">
        <span *ngIf=" bug[i] === bug.createdAt ; else Other">
          {{bug[i] | date:'short'}}
        </span>
        <ng-template #Other>
          <span>
            {{bug[i]}}
          </span>
        </ng-template>
      </td>
      <td> <button (click)="editBug(bug)">Edit Bug</button></td>
    </tr>
  </tbody>
</table>
