.content {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size:1em;


  //background-image: url('rain.jpg');
  // background-attachment: fixed;
  // background-size: cover;
  // background-position: 50% 50%;


  padding: 0.8em ;
  overflow: auto;
  max-width: 100%;

}

h1{
  text-align: center;
  color: #2b363b;
  padding:0.2em;
}

.center{
  display: table;
  margin: 0 auto;
}

#btn-create{
  display: block;
  margin-bottom: 0.5em;
}

.bugs {
  display: table;
  border-collapse: collapse;
  margin: auto;
}

.bugs th {
  padding: 0.4em;
  color: white;
}

.btn-cell{
  border:none;
}

.search , .headers {
  border: 2px solid #ddd;
  background-color: #52796f;
}

.bugs-main{
  border: 2px solid #ddd;
}

.bugs td, .bugs th {
  text-align:left;
}

.search:hover,.headers:hover {background-color:#41605f;}
  
.bugs tr:nth-child(even) td:not(:nth-last-of-type(-n+2)){background-color: #f2f2f2;}
  
.bugs tr:hover td:not(:nth-last-of-type(-n+2)){background-color: #ddd;}
  

.button {
  display: block;
  background: #41605f;
  color:white;
  font-family: 'Poppins';    
  border-radius: 1em;
  cursor: pointer;
  border: 1px solid;
  opacity: 0.8;
}

.button:hover {opacity: 1}

#btn-delete{
  background: rgb(186, 38, 38);
}

#change-page {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em 1em;
}
.page{
  margin: 1em;
}

