<div class="content">

  <!-- <h1>List of Bugs</h1> -->
  <h1>Bug List</h1>

  <div class="center">

    <button class="btn button" id="btn-create" [routerLink]="['/create']">Create new bug
      <fa-icon [icon]="faBug"></fa-icon>
    </button>

    <table class="bugs">
      <thead>

        <!-- Search -->
        <tr>
          <th class="search">
            <input #searchtitle id="search-title" [(ngModel)]="titleValue" type="text" placeholder="Search title">
          </th>
          <th class="search">
            <select [(ngModel)]="priorityValue">
              <option value="" disabled selected>Search Priority</option>
              <option *ngFor="let pr of priority;let i = index" [ngValue]="i+1">
                {{pr}}
              </option>
            </select>
          </th>
          <th class="search">
            <select [(ngModel)]="reporterValue">
              <option value="" disabled selected>Search Reporter</option>
              <option *ngFor="let rp of reporter" [ngValue]="rp">
                {{rp}}
              </option>
            </select>
          </th>
          <th class="search"><input type="text" placeholder="Search Date"></th>
          <th class="search">
            <select [(ngModel)]="statusValue">
              <option value="" disabled selected>Search Status</option>
              <option *ngFor="let st of status" [ngValue]="st">
                {{st}}
              </option>
            </select>
          </th>
          <th id="btn-search" class="btn-cell">
            <button md-button class="btn button" (click)="searchBug()">Search Bug
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </th>
          <th id="btn-clear" class="btn-cell">
            <button md-button class="btn button" (click)="clearBug()">Clear Bug
              <fa-icon [icon]="faBroom"></fa-icon>
            </button>
          </th>
        </tr>

        <!-- Search -->

        <!-- Headers -->
        <tr>
          <th *ngFor="let col of columns ; let i = index" class="headers">

            {{col}}
            <svg (click)="getHeader(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-down-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
            </svg>
          </th>
        </tr>
        <!-- Headers -->

      </thead>

      <tbody>
        <tr *ngFor="let bug of bugs">
          <td *ngFor="let i of fields" class="bugs-main">
            <span *ngIf=" bug[i] === bug.createdAt ; else Other">
              {{bug[i] | date:'d/M/yy, h:mm a'}}
            </span>
            <ng-template #Other>
              <span>
                {{bug[i]}}
              </span>
            </ng-template>
          </td>
          <td class="btn-cell">
            <md-button class="btn button" id="btn-edit" (click)="editBug(bug)">Edit Bug
              <fa-icon [icon]="faEdit"></fa-icon>
            </md-button>
          </td>
          <td class="btn-cell">
            <md-button class="btn button" id="btn-delete" (click)="deleteBug(bug)">Delete Bug
              <fa-icon [icon]="faTrash"></fa-icon>
            </md-button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

  <!-- Change page -->
  <div id="change-page">
    <button *ngIf="page>0" class="btn button" id="btn-previous" (click)="previousPage()">
      <fa-icon [icon]="faAngleLeft"></fa-icon> Previous
    </button>
    <div class="page"> Page {{page}} </div>
    <button class="btn button" id="btn-next" (click)="nextPage()"> Next
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>
  <!-- Change page -->

</div>

<!-- {{listForm.value | json}} -->
