.content {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size:1em;
  //@error: url('bug.jpg');
  //background-attachment: fixed;
  //background-size: cover;
  //background-position: 50% 50%;
  //height: 100%;
  //width: 100%;
  padding: 4em ;
  overflow: auto;
  max-width: 100%;
  //margin:auto;
  
}

h1{
  text-align: center;
  color: #2b363b;
  // padding-top: 10px;
  padding:0.2em;
}

#bugs {
  border-collapse: collapse;
  //display:table;
  //min-width: 400px;
  width: 100%;
  
  //margin: 1em auto;
  //padding: 1.3em 1.6em 1em;
  // display:block;
  // table-layout: fixed;
}
  
#bugs td, #bugs th {
  //position: auto;
  //padding: 0.2em;
  text-align: center;
  border: 1px solid #ddd;
}

#bugs th {
  padding: 0.4em;
  background-color: #52796f;
  color: white;
}

#bugs th:hover {background-color:#41605f;}
  
#bugs tr:nth-child(even){background-color: #f2f2f2;}
  
#bugs tr:hover {background-color: #ddd;}
  


.button {
  display: block;
  background: #41605f;
  color:white;
  font-family: 'Poppins';    
  border-radius: 1em;
  cursor: pointer;
  border: 1px solid;
  opacity: 0.8;
}
#btn-search{
  background-color: #f2f2f2;

}

// #btn-create{
//   padding: 0.2em 0.1em;
// }

// #btn-edit{
//   padding: 0.2em 0.1em;
// }

// #btn-delete{
//   padding: 0.2em 0.1em;
// }

.button:hover {opacity: 1}

