<div class="content">
  <h1>List of Bugs</h1>
  <button class="btn button" id="btn-create" [routerLink]="['/bugform','']">Create new bug</button>
  <table id="bugs">
    <thead>

      <!-- Search -->
      <!-- <form [formGroup]="listForm"> -->
      <tr>
        <th>
          <input #searchtitle id="search-title" [(ngModel)]="titleValue" type="text" placeholder="Search title">
        </th>
        <th>
          <select [(ngModel)]="priorityValue">
            <option value="" disabled selected>Search Priority</option>
            <option *ngFor="let pr of priority;let i = index" [ngValue]="i+1">
              {{pr}}
            </option>
          </select>
        </th>
        <th>
          <select [(ngModel)]="reporterValue">
            <option value="" disabled selected>Search Reporter</option>
            <option *ngFor="let rp of reporter" [ngValue]="rp">
              {{rp}}
            </option>
          </select>
        </th>
        <th><input type="text" placeholder="Search Date"></th>
        <th>
          <select [(ngModel)]="statusValue">
            <option value="" disabled selected>Search Status</option>
            <option *ngFor="let st of status" [ngValue]="st">
              {{st}}
            </option>
          </select>
        </th>
        <th colspan="2" id="btn-search">
          <button md-button class="btn button" (click)="searchBug()">Search Bug</button>
        </th>
      </tr>
      <!-- </form> -->
      <!-- Search -->

      <!-- Headers -->
      <tr>
        <th *ngFor="let col of columns ; let i = index" (click)="getHeader(i)">
          {{col}}
        </th>
      </tr>
      <!-- Headers -->

    </thead>

    <tbody>
      <tr *ngFor="let bug of bugs">
        <td *ngFor="let i of fields">
          <span *ngIf=" bug[i] === bug.createdAt ; else Other">
            {{bug[i] | date:'d/M/yy, h:mm a'}}
          </span>
          <ng-template #Other>
            <span>
              {{bug[i]}}
            </span>
          </ng-template>
        </td>
        <td>
          <md-button class="btn button" id="btn-edit" (click)="editBug(bug)">Edit Bug</md-button>
        </td>
        <td>
          <md-button class="btn button" id="btn-delete" (click)="deleteBug(bug)">Delete Bug</md-button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn button" id="btn-previous" (click)="previousPage()">Previous</button>
    <div>Page {{page}}</div>
    <button class="btn button" id="btn-next" (click)="nextPage()">Next</button>
  </div>
</div>

<!-- {{listForm.value | json}} -->
