body, html {
    height: 100%;
    width:100%;
    min-height:100%;
}

#wrapper{
    //width: 100vw;
    height: calc(100vw * (9/16));
}

.midsection{
    height: 100%;
    background-color: #eaede8;    
}

