// .intro{
//     height:auto;
// }

h2, h4, h5, h6{
    text-align: center;
    //margin: 4px;
    padding: 2px;
}

h2{
    padding-top: 200px;
}

h4{
    padding-top: 40px;
}

h5{
    padding-top: 30px;
}

h6{
    padding: 10px;
}