<div class="content">
  <h1>Report a Bug</h1>
  <form [formGroup]="form" (submit)="formSubmit()">

    <!-- Title -->
    <div class="form-group">
      <label for="titleInput">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Enter title" formControlName="title">
      <!-- <div class="text-danger" *ngIf="form.get('title').errors?.required && form.get('title').dirty">
        Field is required
      </div> -->
      <span class="text-danger" *ngIf="(form.get('title').dirty || submitted) && form.get('title').errors?.required">
        Field is required
      </span>
    </div>
    <!-- Title -->

    <!-- Description -->
    <div class="form-group">
      <label for="descriptionInput">Description</label>
      <textarea class="form-control-description" id="descriptionInput" placeholder="Enter description"
        formControlName="description"></textarea>
      <!-- <div class="text-danger" *ngIf="form.get('description').errors?.required && form.get('description').dirty">
        Field is required
      </div> -->
      <span class="text-danger"
        *ngIf="(form.get('description').dirty || submitted) && form.get('description').errors?.required">
        Field is required
      </span>
    </div>
    <!-- Description -->

    <!-- Priority -->
    <div class="form-group">
      <label class="form-control-label">Priority</label>

      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="priority" [value]="1" name="priority" id="minor">
        <label class="form-check-label" for="minor">Minor</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="priority" [value]="2" name="priority" id="major">
        <label class="form-check-label" for="major">Major</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="priority" [value]="3" name="priority"
          id="critical">
        <label class="form-check-label" for="critical">Critical</label>
      </div>

      <!-- <div class="text-danger" *ngIf="form.get('priority').invalid && form.get('priority').dirty">
        Field is required
      </div> -->
      <span class="text-danger"
        *ngIf="(form.get('priority').dirty || submitted) && form.get('priority').errors?.required">
        Field is required
      </span>

    </div>
    <!-- Priority -->

    <!-- Reporter -->
    <div class="form-group">
      <label class="form-control-label">Reporter</label>
      <select class="form-control" formControlName="reporter">
        <option [ngValue]="null" disabled>Select</option>
        <option *ngFor="let rp of reporter" [ngValue]="rp">
          {{rp}}
        </option>
      </select>
      <!-- <div class="text-danger" *ngIf="form.get('reporter').invalid && form.get('reporter').dirty">
        Field is required
      </div> -->

      <span class="text-danger"
        *ngIf="(form.get('reporter').dirty || submitted) && form.get('reporter').errors?.required">
        Field is required
      </span>
    </div>
    <!-- Reporter -->

    <!-- Status -->
    <div class="form-group">
      <label class="form-control-label">Status</label>
      <select class="form-control" formControlName="status">
        <option [ngValue]="null" disabled>Select</option>
        <option *ngFor="let st of status" [ngValue]="st">
          {{st}}
        </option>
      </select>
      <!-- <div class="text-danger" *ngIf="form.get('status').invalid && form.get('status').dirty">
        Field is required
      </div> -->

      <span class="text-danger" *ngIf="(form.get('status').dirty || submitted) && form.get('status').errors?.required">
        Field is required
      </span>
    </div>
    <!-- Status -->

    <!-- Comments -->
    <label>Comments</label>

    <div class="comments">
      <div class="form-array" formArrayName="comments" *ngFor="let comment of comments.controls; let i = index">
        <hr *ngIf="i>0">
        <div [formGroupName]="i">
          <label for="nameInput">Name</label>
          <input type="text" class="form-control" id="nameInput" formControlName="reporter" placeholder="Enter name">
          <label for="descriptionInput">Description</label>
          <input type="text" class="form-control" id="descriptionInput" formControlName="description"
            placeholder="Enter description">
          <div class="remove-comments" *ngIf="i>0">
            <button type="button" (click)="removeComments(i)">x</button>
          </div>
        </div>
      </div>

      <!-- Add comments button -->
      <div>
        <button type="button" (click)="addComments()">Add Comments</button>
      </div>

    </div>
    <!-- Comments -->



    <!-- Submit -->
    <div class="form-group">
      <!-- <button class="btn" class="submit-button" type="submit" [disabled]="!form.valid">Submit</button> -->
      <button class="btn" class="submit-button" type="submit">Submit</button>
    </div>
    <!-- Submit -->

  </form>
</div>

<!-- {{form.value | json}} -->
